.chat-main
  .chat-main__group-info
    .chat-main__group-info__box
      %h2.chat-main__group-info__box__group
        = @group.name
      .chat-main__group-info__box__list 
        Member :
      .chat-main__group-info__box__member
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path (@group) do
      .chat-main__group-info__edit-btn Edit
  .chat-main__message-list
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'